/*************
    Overall
**************/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans", sans-serif;
  color: white;
}

h1, a {
  display: inline-block;
}

@keyframes Gradient { 
  0% { background-position: 0% 0% }
  100% { background-position: 200% 0% }
}

.gradient {
  background: linear-gradient(90deg, #4FC0FF, #8FE4FF, #4FC0FF);
  background-size: 200% 100%;
  background-clip: text;
  color: transparent;
  transition: background-position 2s ease-out;
}

.gradient:not(:hover) {
  background-position: 0% 0%;
}

.gradient:active {
  color: white;
}

.gradient:hover {
animation: Gradient 1s linear infinite;
}

body {
  background-color: #1C2330;
}

/*************
  Nav
**************/

a {
  color: #dfdfdf;
  text-decoration: none;
  font-size: 1.25rem;
  font-size: large;
}

a:active {
  color: #4FC0FF;
}

a:hover:not(.gradient) {
 color: white; 
}

nav, footer {
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #192026;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

footer {
  box-shadow: 0 -5px 7px rgba(0,0,0,0.3);
}

nav div {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size:40px;
}

h2 {
  font-size: 2rem;
  display: inline-block;
  color: white;
  border-width: 5px;
  border-style: solid;
  border-image-slice: 0 0 100% 0;
  border-image-source: linear-gradient(90deg, #4FC0FF, #8FE4FF);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.icon {
  width: 1.5rem;
  filter: brightness(100);
}

/*************
  Content
**************/

main {
  padding: 50px;
}

.mission img {
  min-width: 200px;
  width: 20%;
  border-radius: 100%;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  transition: transform 1s ease-in-out;
  transform: rotate(0deg);
}

.mission img:hover {
  transform: rotate(360deg);
}

.mission p {
  font-size: xx-large;
  display: inline-block;
  padding: 0;
  margin: 0;
  max-width: 500px;
  text-align: center;
}

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*************
  Project
**************/

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.projects { 
  gap: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.project img {
  width: 30%;
  display: inline-block;
}

.project h2 {
  display: inline-block;
}

.description {
  display: inline-block;
  width: 25%;
}

.gradient-border {
  border-radius: 50px;
  border: 6px solid transparent;
  background: conic-gradient(#4FC0FF, #8FE4FF, #4FC0FF, #8FE4FF, #4FC0FF) border-box;
}

.right {
  text-align: right;
}

hr { 
  margin: 3rem auto;
  width: 75%;
}

.more {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 3rem;
}