/*************
    Overall
**************/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: "Noto Sans", sans-serif;
    color: white;
}

@keyframes Gradient { 
    0% { background-position: 0% 0% }
    100% { background-position: 200% 0% }
}

.gradient {
    background: linear-gradient(90deg, #4FC0FF, #8FE4FF, #4FC0FF);
    background-size: 200% 100%;
    background-clip: text;
    color: transparent;
    transition: background-position 2s ease-out;
}

.gradient:not(:hover) {
    background-position: 0% 0%;
}

.gradient {
    animation: Gradient 3s linear infinite;
}

h1, a {
    display: inline-block;
}

body {
    background-color: #1C2330;
}

/* Re-used */

@mixin nav-icon($color) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;

    &:hover {
        background-color: white;
        box-shadow: 0 0 10px white;
        color: $color !important;
    }
}

@mixin round-icon($color) {
    @include nav-icon($color);
    border-radius: 30px;
}

@mixin square-icon($color) {
    @include nav-icon($color);
    border-radius: 4px;
    height: 32px;
    width: 32px;
}

.github {
    @include round-icon(hsl(280, 53%, 50%));
}

.linkedin {
    @include square-icon(hsl(200, 53%, 50%));
}

.external {
    @include square-icon(hsl(256, 79%, 59%));
}